/* === MEDIA 900px === */
@media (max-width: 900px) {

    .sobre-cards,
    .ia-images,
    .contato-grid,
    .medias {
        flex-direction: column;
        align-items: center;
    }

    .card,
    .img-ia,
    .contato-info,
    iframe,
    .depo {
        width: 90%;
    }

    .servicos-grid {
        grid-template-columns: 1fr 1fr;
    }

    .header-content {
        flex-wrap: wrap;
        gap: 12px;
    }
}

/* === MEDIA 600px === */
@media (max-width: 600px) {

    .servicos-grid {
        grid-template-columns: 1fr;
    }

    .logo {
        width: 200px;
    }

    .nav a {
        font-size: 16px;
    }

    .hero {
        padding: 40px 0;
    }

    .contato iframe {
        width: 100%;
        height: 300px;
    }
}


/* ============================
   RESPONSIVIDADE — MOBILE
   ============================ */
@media (max-width: 480px) {

    body, html{
        overflow-x: hidden;
    }
    

    /* HEADER */
    header,
    nav {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        justify-content: center !important;
    }

    .header-content {
        justify-content: center !important;
    }


    nav {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        text-align: center;
    }

    header img {
        width: 140px;
    }

    .btn-top {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
    }


    /* HERO (caixa marrom) */
    .txt {
        width: 100% !important;
        margin: 0 auto;
        padding: 20px 15px;
        border-radius: 18px;
    }

    .txt h1 {
        font-size: 24px;
        text-align: center;
        line-height: 32px;
    }

    .txt P {
        text-align: center;
        font-size: 15px;
    }

    .btn-top2,
    .btn-whatshome {
        width: 100%;
        max-width: 250px;
        margin: 10px auto;
    }


    /* BOTÕES DE CONTATO */
    #contatos {
        text-align: center;
        padding: 0 15px;
    }

    .contato {
        width: 100%;
        max-width: 250px;
        margin: 10px auto;
    }


    /* FOOTER */
    footer {
        width: 100%;
        text-align: center;
        padding: 20px 15px;
        box-sizing: border-box;
    }

    footer p {
        font-size: 13px;
    }
}

.bpFabWrapper {
    position: fixed;
    bottom: 0.1rem;
    right: 0.3rem;
    z-index: 9998;
}



